# Enable RewriteEngine
RewriteEngine On

# Check if the requested file or directory doesn't exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all requests to index.html with query string appended
RewriteRule ^(.*)$ index.html [QSA,L]